*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: blanchedalmond;
}
.menu{
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 60px;
}
.menu #logo{
    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;
}
.menu >ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type:none ;
}
.menu >ul>li{
    float: left;
}
.menu-item{
    display: inline-block;
    padding: 15px 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}
.menu-item:hover{
 background-color: #ff0055; 
 color: black;  
}
.sub-content{
    position: absolute;
    top: 60;
    overflow: hidden;
    background-color: #333;
    max-height: 0;
}
.sub-content a {
    color: #fff;
    text-decoration: none;
}
.sub-drop{
    padding: 0;
}
.sub-drop ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type:none ;
}
.sub-drop ul li a{
    display: inline-block;
    padding: 10px 20px;
}
.sub-drop ul li:hover{
    background-color: #ff0055; 
    color: black;  
   }
   .menu-item:focus {
       background-color: #ff0055;
    }
    .menu-item:focus ~.sub-content {
        max-height: 400px;
        transition: max-height 0.5s ease-in;
     }
     .sub-drop ul li h1{
         
     }