:root{
    --primary-color:#1f1d1d;
    --secondary-color:#fefbfb;

}
.dark-theme{
    --primary-color:#fefbfb;
    --secondary-color:#1f1d1d; 
}
*{
    font-size: 24px;
    border-radius: 12px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    line-height: 44px;

}
#icons{
    width: 30px;
    cursor: pointer;
}
.change{
    position: absolute;
    right: 1.5rem;
    top: -2rem;
    font-size: 2rem;
    cursor: pointer;
}
body{
    background-color: var(--secondary-color);
    color: var( --primary-color);
    line-height: 1.6;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin: 0;

}
div{
    display: flex;
    justify-content: space-between;

}
div p {
    font-size: 22px;

}
div img {
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 50%;
    
}
.button{
    display: inline-block;
    background-color: var( --primary-color);
    color: var(--secondary-color);
    padding: 1px 1.5px;
    border-radius: 25%;
    font-weight: 600;
}
a{
    text-decoration: none;

}
