*{
    padding: 0;
    margin: 0;
    font-family:linear-gradient(rgba(0,0,0,0,5) rgba(0,0,0,0,5)), "Roboto",sans-serif;
}
body{
    background-image: url(bbb.JPEG);
    background-size: cover;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    width: 150px;
    height: 40px;
    background-color:rgb(175, 27, 27) ;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    opacity: 0.8;
    float: left;
}
ul li a {
    text-decoration: none;
    color:#fff;
    display: block;

}
ul li a:hover{
    background-color: orange;
}
ul li ul li {
    display: none;
}
ul li :hover ul li {
    display: block;
}